.form-section {
  background: url('../img/decor-2.svg') no-repeat center bottom/cover;
  padding: rem(180 0 66);
  .container_small {
    max-width: rem(715);
  }
  @media (max-width: 768px) {
    background-size: 186%;
  }
  @media (max-width: 600px) {
    background: linear-gradient(111.03deg, #312B6A 9.36%, #56508D 80.9%);
    padding: rem(50 0);
  }
}

.form-section__title {
  color: #fff;
  margin-bottom: rem(50);
}
