.intro {
  position: relative;
}

.intro__title {
  @media (max-width: 768px) {
    max-width: rem(342);
  }
}

.intro__content {
  padding: rem(92 0 247);
  @media (max-width: 768px) {
    padding: rem(42 0 17);
  }
  @media (max-width: 540px) {
    padding: rem(42 0 53);
  }
}

.intro__logo {
  margin-bottom: rem(100);
  max-width: rem(120);
  @media (max-width: 768px) {
    margin-bottom: rem(36);
  }
  @media (max-width: 540px) {
    margin-left: rem(-20);
    margin-bottom: rem(46);
  }
}

.intro__img {
  position: absolute;
  right: 0;
  top: 0;
  width: rem(1022);
  @media (max-width: 1300px) {
    width: rem(900);
  }
  @media (max-width: 900px) {
    width: rem(800);
  }
  @media (max-width: 800px) {
    width: rem(700);
  }
  @media (max-width: 768px) {
    width: rem(547);
  }
  @media (max-width: 700px) {
    display: none;
  }
}

.intro__play-btn {
  background: $black;
  border-radius: 50%;
  width: rem(140);
  height: rem(140);
  @include flexbox(center, center);
  position: absolute;
  top: rem(249);
  right: rem(361);
  &:after {
    content: '';
    width: rem(28);
    height: rem(34);
    background: url('../img/play.svg') no-repeat center/contain;
  }
  @media (max-width: 1300px) {
    top: rem(200);
    right: rem(320);
  }
  @media (max-width: 900px) {
    top: rem(160);
    right: rem(290);
  }
  @media (max-width: 800px) {
    width: rem(75);
    height: rem(75);
    top: rem(180);
    right: rem(270);
    &:after {
      width: rem(15);
      height: rem(19);
    }
  }
  @media (max-width: 768px) {
    top: rem(132);
    right: rem(192);
  }
  @media (max-width: 700px) {
    display: none;
  }
}
