$main-font-color: #333333;
$open-sans: 'Open Sans', sans-serif;
$gilroy: 'Gilroy', sans-serif;
$proxima: 'ProximaNova', sans-serif;

$border-radius: 7px;
$button-bg: linear-gradient(180deg, #FF656B 0%, #C6060E 100%);
$grey: #86939E;
$black: #000000;
