<section class="features">
  <div class="container container_small">
    <h2 class="features__title">Что именно ты хочешь?</h2>
    <ul class="features__list">
      <li class="features__item">
        <img src="" alt="" class="features__icon">
        <p class="features__descr">Увеличить доход?</p>
      </li>
      <li class="features__item">
        <img src="" alt="" class="features__icon">
        <p class="features__descr">Расширить границы бизнеса?</p>
      </li>
      <li class="features__item">
        <img src="" alt="" class="features__icon">
        <p class="features__descr">Поднять продажи?</p>
      </li>
      <li class="features__item">
        <img src="" alt="" class="features__icon">
        <p class="features__descr">Спать спокойно?</p>
      </li>
      <li class="features__item">
        <img src="" alt="" class="features__icon">
        <p class="features__descr">Жить для себя?</p>
      </li>
    </ul>
  </div>
</section>
