<section class="info">
  <img src="img/decor.svg" alt="" class="info__decor">
  <div class="container container_small">
    <div class="info__subtitle">
      Можно много говорить о проблемах, но цель любого бизнеса:
    </div>
    <h2 class="info__title">
      Увеличение прибыли и оптимизация расходов
    </h2>
    <p class="info__main-descr">
      Говорить красивыми словами маркетинга тоже можно, давать модные обещания, учить, проводить тренинги, а результат остается прежним.
    </p>
    <div class="info__container">
      <div class="info__block">
        <div class="info__img">
          <img src="img/marginalia-logged-out.svg" alt="">
        </div>
        <p class="info__text">
          Мы внедряем конкретные действия в вашу работу, для достижения исчисляемых результатов.<br />
          БМ – команда практиков, с высоко-доходным бизнесом, который работает и приносит прибыль.<br />
          У нас маркетинговый опыт, который за 19 лет поднял 186 компаний.
        </p>
      </div>
      <div class="info__block">
        <div class="info__img">
          <img src="img/marginalia-payment-processed.svg" alt="">
        </div>
        <p class="info__text">
          Мы приходим в компанию, внедряемся в процесс, используем эффективные инструменты и на примерах показываем, как это работает.<br  />
          Мы ценим наше и Ваше время, поэтому<br />
          Гарантируем исчисляемый результат, который приносит доход вам и нам
        </p>
      </div>
    </div>
  </div>
</section>
